*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.Container{
    background-color: pink;
    width: 100%;
    height: 100vh;
    background-image: url(../../public/Assent/background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}
.textAnimation{
    white-space: nowrap;
    font-size: 12em;
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    position: relative;
    z-index: 100;
    animation: animate 90s linear infinite; 
}
.textAnimation:before{
    color: #EE1D52;
    -webkit-text-stroke: 1px #000;
    transform: translate(5px,-5px);
    z-index: 1;
}

.textAnimation:before {
    content: attr(data-text);
    position: absolute;
    transition: 0.5s;
    top: 10;
    left: 0;
}
@keyframes animate{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}